<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link href="/css/auth.css" rel="stylesheet">
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<section>
  <form action="/auth/register" method="post">
    <h1>Sign Up</h1>

    <!-- Error message -->
    <div th:if="${error}" th:text="${error}" class="error"></div>

    <div class="inputbox">
      <ion-icon name="person-outline"></ion-icon>
      <input type="text" id="fullName" name="fullName" placeholder="" required>
      <label for="fullName">Full Name</label>
    </div>

    <div class="inputbox">
      <ion-icon name="mail-outline"></ion-icon>
      <input type="text" id="username" name="username" placeholder="" required>
      <label for="username">Student No.</label>
    </div>

    <div class="inputbox">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <input type="password" id="password" name="password" placeholder="" required>
      <label for="password">Password</label>
    </div>

    <div class="inputbox">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="" required>
      <label for="passwordConfirm">Confirm Password</label>
    </div>

    <div class="inputbox">
      <ion-icon name="person-outline"></ion-icon>
      <select id="role" name="role" required>
        <option value="" disabled selected></option>
        <option value="STUDENT">Student</option>
        <option value="LECTURER">Lecturer</option>
      </select>
      <label for="role">Role</label>
    </div>

    <button type="submit">Sign Up</button>

    <div class="register">
      <p>Already have an account? <a href="/auth/login">Log In</a></p>
    </div>
  </form>
</section>
</body>
</html>
